/* Variable colors */
/* Mixins */
/* ----------------------------- */
/* 

   ******Primary Fonts*******

font-family: 'Noto Serif', serif;
font-family: 'Cormorant Garamond', serif;

 */
/* ----------------------------- */
/* line 38, components/_extensions.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
       box-sizing: border-box; }

/* line 44, components/_extensions.scss */
html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

/* Scrollbar */
/* width */
/* line 61, components/_extensions.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 2px; }

/* Track */
/* line 67, components/_extensions.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px grey;
          box-shadow: inset 0 0 2px grey;
  height: 20px; }

/* Handle */
/* line 73, components/_extensions.scss */
::-webkit-scrollbar-thumb {
  background: #b95959;
  max-height: 5px; }

/* Handle on hover */
/* line 81, components/_extensions.scss */
::-webkit-scrollbar-thumb:hover {
  background: #363333; }

/* line 1, layout/_header.scss */
header {
  background-color: #D66565;
  width: 100vw;
  height: 100vh;
  position: relative;
  /*  Navigation  */ }
  /* line 11, layout/_header.scss */
  header .logo-white {
    position: relative;
    left: 3%;
    top: 5%;
    width: 11%;
    color: white;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: 'Noto Serif', serif;
    background-color: rgba(0, 0, 0, 0.151);
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #807d7d;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    /* line 27, layout/_header.scss */
    header .logo-white:hover {
      background-color: rgba(0, 0, 0, 0.075); }
  /* line 34, layout/_header.scss */
  header .navigation {
    position: absolute;
    left: 90%;
    top: 5%;
    width: 50%;
    -webkit-transform: translate(-80%, -5%);
        -ms-transform: translate(-80%, -5%);
            -o-transform: translate(-80%, -5%);
       transform: translate(-80%, -5%); }
  /* line 46, layout/_header.scss */
  header nav li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin-right: 50px; }
    /* line 51, layout/_header.scss */
    header nav li a {
      text-decoration: none;
      color: white;
      font-size: 15px;
      letter-spacing: 1px;
      font-family: 'Noto Serif', serif; }
    /* line 59, layout/_header.scss */
    header nav li:last-child {
      background-color: #2c2a2a;
      padding: 8px 15px;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
      /* line 64, layout/_header.scss */
      header nav li:last-child:hover {
        background-color: rgba(44, 42, 42, 0.877); }
  /* line 75, layout/_header.scss */
  header i {
    font-size: 64px; }
  /* line 79, layout/_header.scss */
  header .icon-down {
    color: white;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
        -ms-transform: translate(-50%, -90%);
            -o-transform: translate(-50%, -90%);
       transform: translate(-50%, -90%); }
    /* line 80, layout/_header.scss */
    header .icon-down i {
      font-size: 50px; }

/* line 92, layout/_header.scss */
.textbox {
  position: absolute;
  left: 20%;
  top: 40%;
  width: 80%;
  -webkit-transform: translate(-20%, -40%);
      -ms-transform: translate(-20%, -40%);
          -o-transform: translate(-20%, -40%);
     transform: translate(-20%, -40%);
  display: inline-block;
  line-height: 70px; }
  /* line 101, layout/_header.scss */
  .textbox h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 180px;
    color: white;
    display: inline;
    position: absolute;
    left: 0%;
    top: 100%;
    -webkit-transform: translate(0%, -100%);
        -ms-transform: translate(0%, -100%);
            -o-transform: translate(0%, -100%);
       transform: translate(0%, -100%); }
  /* line 109, layout/_header.scss */
  .textbox h2 {
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 100px;
    left: 17%;
    top: 40%;
    -webkit-transform: translate(-20%, -40%);
        -ms-transform: translate(-20%, -40%);
            -o-transform: translate(-20%, -40%);
       transform: translate(-20%, -40%); }

/* line 1, layout/_about.scss */
.section-aboutme {
  background-color: #444242;
  width: 100vw;
  height: 130vh;
  position: relative; }
  /* line 6, layout/_about.scss */
  .section-aboutme h1 {
    position: absolute;
    left: 50%;
    top: 12%;
    -webkit-transform: translate(-50%, -12%);
        -ms-transform: translate(-50%, -12%);
            -o-transform: translate(-50%, -12%);
       transform: translate(-50%, -12%);
    color: white;
    margin-top: 30px;
    font-size: 50px; }

/* line 19, layout/_about.scss */
.Aboutme-container {
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -55%);
      -ms-transform: translate(-50%, -55%);
          -o-transform: translate(-50%, -55%);
     transform: translate(-50%, -55%);
  width: 70%;
  margin-top: 40px;
  height: 50%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#3f5efb));
  background: -webkit-linear-gradient(left, #fc466b, #3f5efb);
  background: -o-linear-gradient(left, #fc466b, #3f5efb);
  background: linear-gradient(to right, #fc466b, #3f5efb); }
  /* line 29, layout/_about.scss */
  .Aboutme-container p {
    position: absolute;
    left: 90%;
    top: 70%;
    -webkit-transform: translate(-90%, -70%);
        -ms-transform: translate(-90%, -70%);
            -o-transform: translate(-90%, -70%);
       transform: translate(-90%, -70%);
    width: 40%;
    line-height: 155%;
    font-size: 20px;
    height: 60%;
    word-spacing: 1px;
    color: white;
    padding: 10px 10px;
    border: 2px solid white; }
  /* line 42, layout/_about.scss */
  .Aboutme-container img {
    position: absolute;
    left: 50%;
    top: -18%;
    -webkit-transform: translate(-50%, 18%);
        -ms-transform: translate(-50%, 18%);
            -o-transform: translate(-50%, 18%);
       transform: translate(-50%, 18%);
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  /* line 50, layout/_about.scss */
  .Aboutme-container .aboutme-icons {
    position: absolute;
    left: 10%;
    top: 45%;
    -webkit-transform: translate(-10%, -45%);
        -ms-transform: translate(-10%, -45%);
            -o-transform: translate(-10%, -45%);
       transform: translate(-10%, -45%);
    padding: 10px 10px; }
    /* line 55, layout/_about.scss */
    .Aboutme-container .aboutme-icons h5 {
      font-size: 20px;
      color: white;
      margin-bottom: 20px; }
    /* line 61, layout/_about.scss */
    .Aboutme-container .aboutme-icons i {
      margin-right: 10px;
      margin-left: 20px; }
  /* line 70, layout/_about.scss */
  .Aboutme-container button {
    position: absolute;
    left: 10%;
    top: 90%;
    -webkit-transform: translate(-10%, -90%);
        -ms-transform: translate(-10%, -90%);
            -o-transform: translate(-10%, -90%);
       transform: translate(-10%, -90%);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: 0;
    background-color: #252525; }
    /* line 80, layout/_about.scss */
    .Aboutme-container button a {
      text-decoration: none;
      color: #fffefe; }
    /* line 84, layout/_about.scss */
    .Aboutme-container button:last-child {
      position: absolute;
      left: 30%;
      top: 90%;
      -webkit-transform: translate(-30%, -90%);
          -ms-transform: translate(-30%, -90%);
              -o-transform: translate(-30%, -90%);
         transform: translate(-30%, -90%); }

/* line 1, layout/_Skills.scss */
.section-skills {
  width: 100vw;
  height: 120vh;
  position: relative;
  background-color: #D66565; }
  /* line 7, layout/_Skills.scss */
  .section-skills h1 {
    position: absolute;
    left: 15%;
    top: 15%;
    -webkit-transform: translate(-15%, -15%);
        -ms-transform: translate(-15%, -15%);
            -o-transform: translate(-15%, -15%);
       transform: translate(-15%, -15%);
    font-size: 40px;
    color: #feffff;
    letter-spacing: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ebe7e7;
    font-family: serif; }

/* line 20, layout/_Skills.scss */
.container-progress {
  position: absolute;
  left: 70%;
  top: 80%;
  -webkit-transform: translate(-70%, -80%);
      -ms-transform: translate(-70%, -80%);
          -o-transform: translate(-70%, -80%);
     transform: translate(-70%, -80%);
  width: 40%; }
  /* line 26, layout/_Skills.scss */
  .container-progress .progressbar {
    background-color: #a19494;
    width: 100%;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin-bottom: 50px;
    display: inline-block; }
  /* line 36, layout/_Skills.scss */
  .container-progress .progress {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    height: 30px;
    background-color: #343634;
    text-align: center;
    color: white;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0; }
  /* line 47, layout/_Skills.scss */
  .container-progress .width1 {
    width: 70%; }
  /* line 50, layout/_Skills.scss */
  .container-progress .width2 {
    width: 55%; }
  /* line 53, layout/_Skills.scss */
  .container-progress .width3 {
    width: 20%; }
  /* line 56, layout/_Skills.scss */
  .container-progress .width4 {
    width: 60%; }
  /* line 59, layout/_Skills.scss */
  .container-progress .width5 {
    width: 80%; }
  /* line 62, layout/_Skills.scss */
  .container-progress .width6 {
    width: 30%; }

/* line 70, layout/_Skills.scss */
.text {
  position: absolute;
  left: 30%;
  top: 80%;
  -webkit-transform: translate(-30%, -80%);
      -ms-transform: translate(-30%, -80%);
          -o-transform: translate(-30%, -80%);
     transform: translate(-30%, -80%); }
  /* line 72, layout/_Skills.scss */
  .text h2 {
    margin-bottom: 51px;
    color: white;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif; }

/* line 1, layout/_contact.scss */
.section-contact {
  width: 100vw;
  height: 120vh;
  background-color: #434646;
  position: relative; }

/* line 9, layout/_contact.scss */
h1 {
  color: white;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -10%);
      -ms-transform: translate(-50%, -10%);
          -o-transform: translate(-50%, -10%);
     transform: translate(-50%, -10%);
  font-family: serif; }

/* line 16, layout/_contact.scss */
.contactbox {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          -o-transform: translate(-50%, -60%);
     transform: translate(-50%, -60%);
  width: 70%;
  height: 60%;
  background: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#3f5efb));
  background: -webkit-linear-gradient(left, #fc466b, #3f5efb);
  background: -o-linear-gradient(left, #fc466b, #3f5efb);
  background: linear-gradient(to right, #fc466b, #3f5efb);
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  /* line 22, layout/_contact.scss */
  .contactbox .wrapper {
    width: 100%;
    height: 100%;
    position: relative; }
  /* line 29, layout/_contact.scss */
  .contactbox .wrapper2 {
    width: 50%;
    margin-left: 50%; }
  /* line 35, layout/_contact.scss */
  .contactbox .image {
    width: 50%;
    height: 50%; }
  /* line 41, layout/_contact.scss */
  .contactbox img {
    margin: 10% 10%;
    width: 70%; }
  /* line 47, layout/_contact.scss */
  .contactbox .contact {
    width: 50%;
    margin-left: 50%;
    -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
         box-sizing: content-box; }
    /* line 54, layout/_contact.scss */
    .contactbox .contact .wrapper2 textarea {
      padding: 8px 40px;
      position: absolute;
      left: 80%;
      top: 65%;
      -webkit-transform: translate(-80%, -65%);
          -ms-transform: translate(-80%, -65%);
              -o-transform: translate(-80%, -65%);
         transform: translate(-80%, -65%);
      color: #f01d1d;
      font-size: 20px;
      height: 100px;
      padding: 8px 40px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 0px solid;
      background-color: white;
      border: solid 2px white; }
    /* line 66, layout/_contact.scss */
    .contactbox .contact input[type=text] {
      position: absolute;
      left: 80%;
      top: 10%;
      -webkit-transform: translate(-80%, -10%);
          -ms-transform: translate(-80%, -10%);
              -o-transform: translate(-80%, -10%);
         transform: translate(-80%, -10%);
      color: white;
      font-size: 20px;
      padding: 8px 40px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 0px solid;
      background-color: white;
      border: solid 1px white; }
    /* line 78, layout/_contact.scss */
    .contactbox .contact #subject {
      position: absolute;
      left: 80%;
      top: 25%;
      -webkit-transform: translate(-80%, -25%);
          -ms-transform: translate(-80%, -25%);
              -o-transform: translate(-80%, -25%);
         transform: translate(-80%, -25%);
      color: white;
      font-size: 20px;
      padding: 8px 40px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 0px solid;
      background-color: white;
      border: solid 1px white; }
    /* line 91, layout/_contact.scss */
    .contactbox .contact input[type=email] {
      position: absolute;
      left: 80%;
      top: 40%;
      -webkit-transform: translate(-80%, -40%);
          -ms-transform: translate(-80%, -40%);
              -o-transform: translate(-80%, -40%);
         transform: translate(-80%, -40%);
      color: white;
      font-size: 20px;
      padding: 8px 40px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 0px solid;
      background-color: white;
      border: solid 1px white; }
    /* line 104, layout/_contact.scss */
    .contactbox .contact input[type=button] {
      position: absolute;
      left: 72%;
      top: 90%;
      -webkit-transform: translate(-72%, -90%);
          -ms-transform: translate(-72%, -90%);
              -o-transform: translate(-72%, -90%);
         transform: translate(-72%, -90%);
      color: white;
      font-size: 20px;
      padding: 8px 40px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: 0px solid;
      background-color: #252525; }
    /* line 116, layout/_contact.scss */
    .contactbox .contact input::-webkit-input-placeholder,
    .contactbox .contact #subject::-webkit-input-placeholder,
    .contactbox .contact textarea::-webkit-input-placeholder {
      color: black;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .contactbox .contact input::-moz-placeholder,
    .contactbox .contact #subject::-moz-placeholder,
    .contactbox .contact textarea::-moz-placeholder {
      color: black;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .contactbox .contact input:-ms-input-placeholder,
    .contactbox .contact #subject:-ms-input-placeholder,
    .contactbox .contact textarea:-ms-input-placeholder {
      color: black;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .contactbox .contact input::-ms-input-placeholder,
    .contactbox .contact #subject::-ms-input-placeholder,
    .contactbox .contact textarea::-ms-input-placeholder {
      color: black;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .contactbox .contact input:-moz-placeholder,
    .contactbox .contact #subject:-moz-placeholder,
    .contactbox .contact textarea:-moz-placeholder {
      color: black;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .contactbox .contact input::placeholder,
    .contactbox .contact #subject::placeholder,
    .contactbox .contact textarea::placeholder {
      color: black;
      text-transform: uppercase;
      text-align: left;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

/* line 1, layout/_footer.scss */
footer {
  background-color: #252525;
  width: 100vw;
  height: 50vh;
  position: relative; }
  /* line 7, layout/_footer.scss */
  footer span {
    position: absolute;
    left: 50%;
    top: 70%;
    -webkit-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
            -o-transform: translate(-50%, -70%);
       transform: translate(-50%, -70%);
    color: white; }
  /* line 14, layout/_footer.scss */
  footer h6 {
    position: absolute;
    left: 50%;
    top: 80%;
    -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
            -o-transform: translate(-50%, -80%);
       transform: translate(-50%, -80%);
    color: white;
    font-size: 15px; }
  /* line 24, layout/_footer.scss */
  footer #arrow-up {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: -10%;
    -webkit-transform: translate(-50%, 10%);
        -ms-transform: translate(-50%, 10%);
            -o-transform: translate(-50%, 10%);
       transform: translate(-50%, 10%);
    color: white;
    background-color: black;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  /* line 33, layout/_footer.scss */
  footer nav {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -30%);
        -ms-transform: translate(-50%, -30%);
            -o-transform: translate(-50%, -30%);
       transform: translate(-50%, -30%);
    display: inline-block;
    width: 50%;
    margin-left: 50px;
    font-size: 40px;
    word-spacing: 60px; }
    /* line 42, layout/_footer.scss */
    footer nav i {
      color: #D66565; }

/*   Big  size Tablets to 1200px */
@media only screen and (max-width: 1200px) {
  /* line 5, layout/_mediaquery.scss */
  header ul li {
    margin-right: 40px; }
  /* line 9, layout/_mediaquery.scss */
  header ul li a {
    font-size: 10px; }
  /* line 15, layout/_mediaquery.scss */
  header .textbox h1 {
    font-size: 130px; }
  /* line 19, layout/_mediaquery.scss */
  header .textbox h2 {
    font-size: 80px; }
  /* line 25, layout/_mediaquery.scss */
  .Aboutme-container {
    width: 90%; }
    /* line 28, layout/_mediaquery.scss */
    .Aboutme-container p {
      height: 70%;
      width: 40%; } }

/*   Big  size Tablets 768-1023px */
/*   Medium size Tablets 481-767px */
@media only screen and (max-width: 767px) {
  /* line 53, layout/_mediaquery.scss */
  header ul li {
    margin-right: 20px; }
  /* line 57, layout/_mediaquery.scss */
  header ul li a {
    font-size: 10px; }
  /* line 63, layout/_mediaquery.scss */
  header .icon-down {
    color: white;
    position: absolute;
    left: 50%;
    top: 80%;
    -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
            -o-transform: translate(-50%, -80%);
       transform: translate(-50%, -80%); }
    /* line 64, layout/_mediaquery.scss */
    header .icon-down i {
      font-size: 50px; }
  /* line 74, layout/_mediaquery.scss */
  header .textbox h1 {
    font-size: 70px;
    position: absolute;
    left: 10%;
    top: 100%;
    -webkit-transform: translate(-10%, -100%);
        -ms-transform: translate(-10%, -100%);
            -o-transform: translate(-10%, -100%);
       transform: translate(-10%, -100%); }
  /* line 80, layout/_mediaquery.scss */
  header .textbox h2 {
    font-size: 40px;
    position: absolute;
    left: 10%;
    top: 0%;
    -webkit-transform: translate(-10%, 0%);
        -ms-transform: translate(-10%, 0%);
            -o-transform: translate(-10%, 0%);
       transform: translate(-10%, 0%); }
  /* line 86, layout/_mediaquery.scss */
  .Aboutme-container {
    width: 90%; }
    /* line 90, layout/_mediaquery.scss */
    .Aboutme-container p {
      position: absolute;
      left: 90%;
      top: 50%;
      -webkit-transform: translate(-90%, -50%);
          -ms-transform: translate(-90%, -50%);
              -o-transform: translate(-90%, -50%);
         transform: translate(-90%, -50%);
      height: 60%;
      width: 40%;
      font-size: 18px; }
  /* line 99, layout/_mediaquery.scss */
  .aboutme-icons h5 {
    font-size: 10px; }
  /* line 105, layout/_mediaquery.scss */
  .section-skills {
    height: 180vh; }
  /* line 109, layout/_mediaquery.scss */
  .container-progress {
    width: 90%;
    margin-top: 50px; }
    /* line 114, layout/_mediaquery.scss */
    .container-progress .progressbar {
      margin-bottom: 80px; }
      /* line 116, layout/_mediaquery.scss */
      .container-progress .progressbar .progress {
        height: 60px; }
  /* line 121, layout/_mediaquery.scss */
  .text {
    position: absolute;
    left: 10%;
    top: 80%;
    -webkit-transform: translate(-10%, -80%);
        -ms-transform: translate(-10%, -80%);
            -o-transform: translate(-10%, -80%);
       transform: translate(-10%, -80%); }
    /* line 123, layout/_mediaquery.scss */
    .text h2 {
      margin-bottom: 105px;
      color: white;
      font-size: 30px;
      font-family: serif; } }

/*   Small phones 0-481px */
@media only screen and (max-width: 481px) {
  /* line 143, layout/_mediaquery.scss */
  header ul li {
    margin-right: 40px; }
  /* line 147, layout/_mediaquery.scss */
  header ul li a {
    font-size: 15px; }
  /* line 151, layout/_mediaquery.scss */
  header .textbox {
    position: absolute;
    left: 0%;
    top: 40%;
    -webkit-transform: translate(0%, -40%);
        -ms-transform: translate(0%, -40%);
            -o-transform: translate(0%, -40%);
       transform: translate(0%, -40%);
    width: 100%; }
    /* line 155, layout/_mediaquery.scss */
    header .textbox h1 {
      font-size: 60px;
      position: absolute;
      left: 4%;
      top: 100%;
      -webkit-transform: translate(-4%, -100%);
          -ms-transform: translate(-4%, -100%);
              -o-transform: translate(-4%, -100%);
         transform: translate(-4%, -100%); }
    /* line 161, layout/_mediaquery.scss */
    header .textbox h2 {
      font-size: 40px;
      position: absolute;
      left: 4%;
      top: 0%;
      -webkit-transform: translate(-4%, 0%);
          -ms-transform: translate(-4%, 0%);
              -o-transform: translate(-4%, 0%);
         transform: translate(-4%, 0%); }
  /* line 172, layout/_mediaquery.scss */
  .section-aboutme h1 {
    position: absolute;
    left: 45%;
    top: 0%;
    -webkit-transform: translate(-45%, 0%);
        -ms-transform: translate(-45%, 0%);
            -o-transform: translate(-45%, 0%);
       transform: translate(-45%, 0%);
    width: 80%;
    margin-left: 10%; }
  /* line 179, layout/_mediaquery.scss */
  .Aboutme-container {
    position: absolute;
    left: 0%;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            -o-transform: translate(0%, -50%);
       transform: translate(0%, -50%);
    width: 90%;
    margin: 0 5%;
    margin-top: 40px;
    height: 70%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#3f5efb));
    background: -webkit-linear-gradient(left, #fc466b, #3f5efb);
    background: -o-linear-gradient(left, #fc466b, #3f5efb);
    background: linear-gradient(to right, #fc466b, #3f5efb); }
    /* line 181, layout/_mediaquery.scss */
    .Aboutme-container img {
      position: absolute;
      left: 50%;
      top: -10%;
      -webkit-transform: translate(-50%, 10%);
          -ms-transform: translate(-50%, 10%);
              -o-transform: translate(-50%, 10%);
         transform: translate(-50%, 10%); }
    /* line 192, layout/_mediaquery.scss */
    .Aboutme-container p {
      position: absolute;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -40%);
          -ms-transform: translate(-50%, -40%);
              -o-transform: translate(-50%, -40%);
         transform: translate(-50%, -40%);
      width: 90%;
      line-height: 200%;
      font-size: 20px;
      height: 60%;
      border: 0; }
    /* line 201, layout/_mediaquery.scss */
    .Aboutme-container button {
      position: absolute;
      left: 0%;
      top: 82%;
      -webkit-transform: translate(0%, -82%);
          -ms-transform: translate(0%, -82%);
              -o-transform: translate(0%, -82%);
         transform: translate(0%, -82%);
      color: white;
      font-size: 20px;
      margin-left: 5%;
      padding: 15px 20px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 0;
      background-color: #252525;
      width: 90%; }
      /* line 212, layout/_mediaquery.scss */
      .Aboutme-container button a {
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        color: #fffefe; }
      /* line 218, layout/_mediaquery.scss */
      .Aboutme-container button:last-child {
        position: absolute;
        left: 0%;
        top: 95%;
        -webkit-transform: translate(0%, -95%);
            -ms-transform: translate(0%, -95%);
                -o-transform: translate(0%, -95%);
           transform: translate(0%, -95%);
        width: 90%; }
    /* line 227, layout/_mediaquery.scss */
    .Aboutme-container .aboutme-icons {
      position: absolute;
      left: 0%;
      top: 0%;
      -webkit-transform: translate(0%, 0%);
          -ms-transform: translate(0%, 0%);
              -o-transform: translate(0%, 0%);
         transform: translate(0%, 0%);
      display: none; }
  /* line 237, layout/_mediaquery.scss */
  .section-skills {
    height: 130vh; }
    /* line 240, layout/_mediaquery.scss */
    .section-skills h1 {
      position: absolute;
      left: 10%;
      top: 5%;
      -webkit-transform: translate(-10%, -5%);
          -ms-transform: translate(-10%, -5%);
              -o-transform: translate(-10%, -5%);
         transform: translate(-10%, -5%); }
  /* line 245, layout/_mediaquery.scss */
  .container-progress {
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
    position: absolute;
    left: 0%;
    top: 80%;
    -webkit-transform: translate(0%, -80%);
        -ms-transform: translate(0%, -80%);
            -o-transform: translate(0%, -80%);
       transform: translate(0%, -80%); }
    /* line 252, layout/_mediaquery.scss */
    .container-progress .progressbar {
      margin-bottom: 80px; }
      /* line 254, layout/_mediaquery.scss */
      .container-progress .progressbar .progress {
        height: 40px; }
  /* line 269, layout/_mediaquery.scss */
  .text {
    position: absolute;
    left: 10%;
    top: 65%;
    -webkit-transform: translate(-10%, -65%);
        -ms-transform: translate(-10%, -65%);
            -o-transform: translate(-10%, -65%);
       transform: translate(-10%, -65%); }
    /* line 271, layout/_mediaquery.scss */
    .text h2 {
      margin-bottom: 98px;
      color: white;
      font-size: 20px;
      font-family: serif; } }

/*   Big  size Tablets 768-1023px */
@media only screen and (max-width: 380px) {
  /* line 290, layout/_mediaquery.scss */
  .Aboutme-container p {
    font-size: 18px; } }

    
/*# sourceMappingURL=main.css.map */